@use "sass:list";
@use "sass:map";
@use "sass:string";

@function -map-deep-split-path($path) {
	$keys: ();
	$separator: ".";
	$index: string.index($path, $separator);

	@while $index {
		$item: string.slice($path, 1, $index - 1);
		$keys: list.append($keys, $item);
		$path: string.slice($path, $index + 1);
		$index: string.index($path, $separator);
	}

	@return list.append($keys, $path);
}

@function -map-deep-get($map, $path) {
	@each $key in -map-deep-split-path($path) {
		@if $map {
			@if map.has-key($map, $key) {
				$map: map.get($map, $key);
			} @else {
				$map: null;
			}
		}
	}

	@return $map;
}

@function get($path) {
	@return -map-deep-get($-guidelines, $path);
}
