@function absolunet-guidelines-map-deep-split-path($path) {
	$keys:      ();
	$separator: '.';
	$index:     str-index($path, $separator);

	@while $index != null {
		$item:  str-slice($path, 1, $index - 1);
		$keys:  append($keys, $item);
		$path:  str-slice($path, $index + 1);
		$index: str-index($path, $separator);
	}

	@return append($keys, $path);
}

@function absolunet-guidelines-map-deep-get($map, $path) {
	@each $key in absolunet-guidelines-map-deep-split-path($path) {
		@if $map {
			@if map-has-key($map, $key) {
				$map: map-get($map, $key);
			} @else {
				$map: null;
			}
		}
	}

	@return $map;
}

@function absolunet-guidelines($path) {
	@return absolunet-guidelines-map-deep-get($absolunet-guidelines, $path);
}
